.App {
  text-align: center;
}

.header {
  color: white;
  background-color: rgb(44, 42, 42);
  width: 100%;
  height: 100%;
  line-height: 45px;
}

.board{
  width: 200px;
  height: 200px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.squareBox::after{
  clear: both;
  content: "";
  display: table;
}

.border{
  background: #fff;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 64px;
  height: 64px;
  margin-right: -3px;
  margin-top: -3px;
  padding: 0;
  text-align: center;
  width: 64px;
  border: 3px solid tomato;
}

.border:focus {
  outline: none;
}
.status{
  margin-top:30px;
}
li{
  list-style-type: none;
}
.history{
  margin-top: 60px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}  
.button{
  width: 100px;
  height: 50px;
  background-color: rgb(207, 197, 197);
  color: rgb(94, 85, 85);
  border-radius: 9px;
  outline: none;
  border: none;
  float: left;
  
}

